HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
*.class
.classpath
.project
.settings/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

src/main/resources/application.properties

### macOS ###
.DS_Store
